<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			<!--Machine Learning App Using Flask-->
		</div>
		<h2 style="text-align: center;">Spam Detector For Messages using Machine Learning</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form style="text-align: center;"action="{{ url_for('predict')}}" method="POST">
		<p>Please Enter Your Message Here</p>

		<textarea name="message" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="Predict">
		
		</form>
		
	</div>

	
	

</body>
</html>